# Project exclude paths
/admin-parent/admin-component/target/
/admin-parent/admin-entity/target/
/admin-parent/admin-webui/target/
/common-reverse/target/
/common-util/target/
/member-parent/member-api/target/
/member-parent/member-authentication-consumer/target/
/member-parent/member-entity/target/
/member-parent/member-eureka/target/
/member-parent/member-mysql-provider/target/
/member-parent/member-order-consumer/target/
/member-parent/member-pay-consumer/target/
/member-parent/member-project-consumer/target/
/member-parent/member-redis-provider/target/
/member-parent/member-zuul/target/
/member-parent/target/
/out/
/pro01-spring-annotation/target/
/pro02-spring-security/target/
/pro03-spring-boot-maven-project/target/
/pro05-spring-boot-read-yml/target/
/pro06-spring-boot-mybatis/target/
/pro07-spring-boot-redis/target/
/pro08-spring-boot-thymeleaf/target/
/pro09-spring-cloud-parent/pro01-spring-cloud-common/target/
/pro09-spring-cloud-parent/pro02-spring-cloud-provider/target/
/pro09-spring-cloud-parent/pro03-spring-cloud-consumer/target/
/pro09-spring-cloud-parent/pro03-spring-cloud-feign-consumer/target/
/pro09-spring-cloud-parent/pro04-spring-cloud-eureka/target/
/pro09-spring-cloud-parent/pro05-spring-cloud-hystrix-dashboard/target/
/pro09-spring-cloud-parent/pro06-spring-cloud-zuul/target/
/pro10-short-message/target/
/pro11-spring-session-a/target/
/pro12-spring-session-b/target/